= simple_form_for(@vehicle) do |f|
  = f.error_notification

  .form-inputs
    = f.input :vehicle_make
    = f.input :vehicle_model
    = f.input :vehicle_year
    = f.input :dept_number
    = f.input :updated_by
    = f.input :last_updated
    = f.input :mileage
    = f.input :checked_in

  .form-actions
    = f.button :submit
