%h1 Listing vehicles

%table
  %thead
    %tr
      %th Vehicle make
      %th Vehicle model
      %th Vehicle year
      %th Dept number
      %th Updated by
      %th Last updated
      %th Mileage
      %th Checked in
      %th
      %th
      %th
      
  %tbody
    - @vehicles.each do |vehicle|
      %tr
        %td= vehicle.vehicle_make
        %td= vehicle.vehicle_model
        %td= vehicle.vehicle_year
        %td= vehicle.dept_number
        %td= vehicle.updated_by
        %td= vehicle.last_updated
        %td= vehicle.mileage
        %td= vehicle.checked_in
        %td= link_to 'Show', vehicle
        %td= link_to 'Edit', edit_vehicle_path(vehicle)
        %td= link_to 'Destroy', vehicle, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vehicle', new_vehicle_path
