%p#notice= notice

%p
  %b Vehicle make:
  = @vehicle.vehicle_make
%p
  %b Vehicle model:
  = @vehicle.vehicle_model
%p
  %b Vehicle year:
  = @vehicle.vehicle_year
%p
  %b Dept number:
  = @vehicle.dept_number
%p
  %b Updated by:
  = @vehicle.updated_by
%p
  %b Last updated:
  = @vehicle.last_updated
%p
  %b Mileage:
  = @vehicle.mileage
%p
  %b Checked in:
  = @vehicle.checked_in

= link_to 'Edit', edit_vehicle_path(@vehicle)
\|
= link_to 'Back', vehicles_path
